<% if @employee.salt %>

<h3>First step completed!</h3>

<p>This user has already changed his or her password.</p>

<% else %>

<h2>Next steps!</h2>

<h3>Change temporary password</h3>
<p>For <%= h @employee.name %> to log into this system, you must have this user change his or her password!</p>

<p>The password below is meant to be temporary only and is NOT SECURE! Have this user log in with the email address <strong><%= h @employee.email %></strong> and <strong>change it immediately!</strong></p>

<p class="password"><%= h @employee.password %></p>

<% end %>

<h3>Test phone number</h3>

<p>Additionally, you should test this user's mobile number now.</p>

<!-- FORM EDITOR HERE WITH TWO TEXT FIELDS OF NUMBERS TO CONNECT. ONE SHOULD BE AUTO POPULATED WITH THE NUMBER OF THE CURRENTLY LOGGED IN PERSON -->

<p class="origination-test">Place a call from <input type="text"></input> to <input type="text"></input>.</p>

