body {
	margin: 0;
	padding: 0;
	background: white url(http://www.engineyard.com/images/topbg.gif) repeat-x;
}
h1 {
	background: url(http://www.engineyard.com/images/logo.gif) top left no-repeat;
	height: 102px;
	width: 500px;
	line-height: 102px;
	font-size: 40px;
	text-align: center;
	margin: 0 auto 10px auto;
	padding-top: 80px;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	background-color: transparent;
	color: #a50000;
}
#container {
	font-size: 17px;
	font-family: Tahoma, "Trebuchet MS", Arial;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
	width: 580px;
	background: #f2f2d5;
}
#container.full p.flash-error {
  text-align: center;
}

a {
	color: black;
	font-weight: bold;
	padding: 1px;
}

a:hover {
	color: #f2f2d5;
	background-color: black;
}

#dynamic_employee_creation_form {
	display: none;
}

input[type="text"], input[type="password"] {
	font-size: 18px;
	
}

label {
	font-weight: bold;
}

div.footer {
	text-align: center;
	clear: both;
	color: #d0cfbe;
	font-size: 11px;
}

div.footer a {
	color: #d0cfbe;
}

a.on-vacation-list {
	text-decoration: line-through;
}

.on-vacation {
	display: block;
}

.on-vacation label {
	font-weight: normal;
	padding: 3px;
}

.admin label {
	font-weight: normal;
	padding: 3px;
}

.on-vacation label:active {
	color: #f2f2d5;
	background-color: black;
}

h2 span.on-vacation {
	display: block;
	font-size: 13px;
	color: #a50000;
}

#group_editor_container {
	text-align: center;
}

table#group-editor {
	margin: 0 auto;
}

table#group-editor th {
	background-color: #a50000;
	color: white;
	padding: 3px 10px;
}
table#group-editor th a {
	color: white;
}
table#group-editor tr.even {
	background-color: #f0f0cd;
}
table#group-editor tr.odd {
	/* default is fine */
}
table#group-editor td {
	text-align: center;
}
table#group-editor td.employee-name {
	text-align: left;
	padding-left: 10px;
}

br.clear {
	clear: left;
}

div.editor-group {
	background-color: white ;
	min-height: 100px;
}

div.editor-group p.name {
	text-align: center;
}

div#extension_manager ul {
	list-style: none;
}

div#extension_manager ul li {
	clear: left;
}
div#extension_manager ul li span {
	float: left;
	display: block;
}

div#extension_manager ul li span.extension {
	width: 100px;
}

div#extension_manager ul li span.name {
	width: 325px;
}
div#extension_manager br, div#extension_manager h2 {
	clear:left;
}

div#employee_group_editor {
	margin-left: 20px;
}

div#employee_group_editor ul {
	list-style: none;
	background-color: white;
	margin: 0;
	padding: 4px;
	padding-left: 10px;
}

div#employee_group_editor ul li label {
	padding: 3px;
}

div#employee_group_editor ul li label:active {
	color: white;
	background-color: black;
}

p.password {
	font-family: monospace;
	text-align: center;
	padding: 5px;
	background-color: white;
	border: 1px dashed black;
}

div#global_settings {
	margin-top: 15px;
	border-color: blue;
}

.setting-error {
	background-color: red;
	border: 2px dotted black;
	padding: 2px;
}
.setting-error-description {
	color: red;
}

div#global_settings p {
	margin-top: 3px;
	font-size: 13px;
}

div#global_settings h4 {
	background-color: blue;
}

div#global_settings input[type=text] {
	width: 75px;
}

div.setting_editor {
	border: 2px solid #b10000;
	background-color: white;
	padding: 0 5px;
	margin-bottom: 15px;
}

div.setting_editor h4 {
	text-align: center;
	font-size: 16px;
	background-color: #b10000;
	color: white;
	margin: 0 -5px 0 -5px;
	padding: 4px 0;
}

h5 {
	font-size: 16px;
	margin: 10px 0 0 0;
}

div.setting_editor input[type=text] {
	font-size: 12px;
	display: block;
	width: 75px;
}

div.setting_editor p {
	margin-top: 3px;
	font-size: 13px;
}

div#availability_editor {
  
}

#availability_editor tr td, #availability_editor tr td input {
  cursor: pointer;
}

#availability_editor tr td {
  text-align: center;
  margin: 2px;
}

#availability_editor tr td.checked {
  background-color: #83bd7c ;
}
#availability_editor tr td.checked:hover {
  background-color: #a8cda3;
}

#availability_editor tr td.unchecked {
  background-color: #d8d8be;
}

#availability_editor tr td.unchecked:hover {
  background-color: #cacab2;
}

#configure-container {
  font-size: 17px;
	font-family: Tahoma, "Trebuchet MS", Arial;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
	width: 930px;
	background: #f2f2d5;
}
#configure-container h2 {
  text-align: center;
}

#configure-container #availability {
  margin: 0;
  float: right;
  clear: right;
}
#configure-container .field label {
  display: block;
}
#configure-container .field p {
  margin: 0;
}

#configure-container #availability p {
  margin-top : 0;
  text-align: right;
}
#configure-container #availability h3 {
  margin-top: 0;
}
#configure-container div.field {
  background-color: #d8d8be;
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
}
#configure-container div.field input {
  width: 295px;
}

#configure-container div.submit {
  text-align:center;
  width: 300px;
}

#cheatsheet {
  
}

#cheatsheet ul {
  list-style: none;
}
#cheatsheet ul li {
  padding: 3px;
}
#cheatsheet ul span.extension {
   width: 50px;
}
#cheatsheet ul li.even {
  background-color: #d8d8be;
}
