body {
	margin: 0;
	padding: 0;
	background: white url(http://www.engineyard.com/images/topbg.gif) repeat-x;
}
h1 {
	background: url(http://www.engineyard.com/images/logo.gif) top left no-repeat;
	height: 102px;
	width: 500px;
	line-height: 102px;
	font-size: 40px;
	text-align: center;
	margin: 0 auto 10px auto;
	padding-top: 80px;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	background-color: transparent;
	color: #a50000;
}
#container {
	font-size: 17px;
	font-family: Tahoma, "Trebuchet MS", Arial;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
	width: 480px;
	background: #f2f2d5;
}
a {
	color: black;
	font-weight: bold;
	padding: 1px;
}

a:hover {
	color: #f2f2d5;
	background-color: black;
}

#dynamic_employee_creation_form {
	display: none;
}

input[type="text"], input[type="password"] {
	font-size: 18px;
	
}

label {
	font-weight: bold;
}

div.footer {
	text-align: center;
	color: #d0cfbe;
	font-size: 11px;
}

div.footer a {
	color: #d0cfbe;
}

a.on-vacation-list {
	text-decoration: line-through;
}

.on-vacation {
	display: block;
}

.on-vacation label {
	font-weight: normal;
	padding: 3px;
}

.on-vacation label:active {
	color: #f2f2d5;
	background-color: black;
}

h2 span.on-vacation {
	display: block;
	font-size: 13px;
	color: #a50000;
}

#group_editor_container {
	text-align: center;
}

table#group-editor {
	margin: 0 auto;
}

table#group-editor th {
	background-color: #a50000;
	color: white;
	padding: 3px 10px;
}
table#group-editor th a {
	color: white;
}
table#group-editor tr.even {
	background-color: #f0f0cd;
}
table#group-editor tr.odd {
	/* default is fine */
}
table#group-editor td {
	text-align: center;
}
table#group-editor td.employee-name {
	text-align: left;
	padding-left: 10px;
}

br.clear {
	clear: left;
}

div.editor-group {
	background-color: white ;
	min-height: 100px;
}

div.editor-group p.name {
	text-align: center;
}

div#extension_manager ul {
	list-style: none;
}

div#extension_manager ul li {
	clear: left;
}
div#extension_manager ul li span {
	float: left;
	display: block;
}

div#extension_manager ul li span.extension {
	width: 100px;
}

div#extension_manager ul li span.name {
	width: 325px;
}
div#extension_manager br, div#extension_manager h2 {
	clear:left;
}

div#employee_group_editor {
	margin-left: 20px;
}

div#employee_group_editor ul {
	list-style: none;
	background-color: white;
	margin: 0;
	padding: 4px;
	padding-left: 10px;
}

div#employee_group_editor ul li label {
	padding: 3px;
}

div#employee_group_editor ul li label:active {
	color: white;
	background-color: black;
}

p.password {
	font-family: monospace;
	text-align: center;
	padding: 5px;
	background-color: white;
	border: 1px dashed black;
}

p.origination-test input {
	width: 140px;
}