<h3 style="color: red">Change Password!!!</h3>

<p>It seems you haven't changed your password, yet!</p>
<p>You must do this now!</p>

<% form_tag :controller => "welcome", :action => "change_password" do %>

<p><label for="password_one">New password</label><br/>
<%= password_field_tag "password_one" %></p>

<p><label for="password_two">Confirm</label><br/>
<%= password_field_tag "password_two" %></p>

<p><%= submit_tag "Change!" %></p>

<% end %>