<% form_tag :controller => "welcome", :action => "reset_password" do %>

<p><label for="password_one">New password</label><br/>
<%= password_field_tag "password_one" %></p>

<p><label for="password_two">Confirm</label><br/>
<%= password_field_tag "password_two" %></p>

<p><%= submit_tag "Change!" %></p>

<% end %>